[Unit]
Description= A Flask application run with Gunicorn.
After= network.target
 
[Service]
User=www-data
Group=www-data
WorkingDirectory=/app/
ExecStart=gunicorn --workers 3 --bind unix:/app/crowemi.sock wsgi:crowemi
 
[Install]
WantedBy=multi-user.target