/* Color Theme Swatches in Hex */
$color-one: #2039CC;
$color-two: #192DA1;
$color-three: #111E6C;
$color-four: #0C154A;
$color-five: #080E33;

.main-container {
    height: 100vh;
}

.top-container {
    background-color:$color-three;
    margin: 0px auto;
    height: 80%;
    color: #f2f2f2;
}
.bottom-container {
    background-color: #f2f2f2;
    height: 20%
}

.title {
    text-align: right;
}
.title-underline {
    text-decoration-style: underline;
    border-bottom: 1px dotted;
}
.icon-container {
    padding: 10px;
    a {
        color: $color-three;
    }
    a:hover{
        color: $color-one
    }
    .icon{
        padding: 5px;
    }
}

.center {
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }