body {
  overflow-x: hidden;
}

.main-container {
  height: 100vh;
}

.nav-container {
  background-color: #f2f2f2;
  height: 10%;
  margin: 0px auto;
}

.top-container {
  background-color: #111E6C;
  margin: 0px auto;
  min-height: 60%;
  color: #f2f2f2;
}

.middle-container {
  background-color: #00acee;
  min-height: 20%;
}

.middle-content-container {
  padding: 50px;
  color: #f2f2f2;
}

.middle-container a {
  color: #f2f2f2;
  text-decoration: none;
}

.bottom-container {
  background-color: #f2f2f2;
  min-height: 20%
}

.title {
  text-align: right;
}

.title-underline {
  text-decoration-style: underline;
  border-bottom: 1px dotted;
}


.icon-container {
  padding: 10px;
}

.icon-container a {
  color: #111E6C;
}

.icon-container a:hover {
  color: #2039CC
}

.icon-container .icon {
  padding: 5px;
}

.fa-twitter-custom {
  color: #fff;
}

.fa-strava-custom {
  color: #fc4c02;
}

.center {
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  padding: 20px 0 20px 0;
  background-color: #f2f2f2;
}

.menu a {
  color: #111E6C;
  text-decoration: none;
  text-align: center;
}

.menu .active {
  font-weight: bold;
}

.menu a:hover {
  color: #2039CC;
  text-decoration: dotted;
}

.menu i {
  padding: 0 10px 0 10px;
}

.blog-side-panel {
  background-color: #111E6C;
  height: 100vh;
  color: white
}

.blog-side-panel hr {
  border: 2px;
  border-style: dashed !important;
}