<!doctype html>
<html lang="en">

  {% include "header.html" %}

  <body>
    <div class="main-container">
        <div class="top-container container-fluid center">
              <div class="col-sm-6 title d-none d-lg-block">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <h1><span class="title-underline">Data Engineer</span> by day.</h1>
                      <h1><span class="title-underline">Full Stack Engineer</span> by night.</h1>
                    </div>
                    <!-- <div class="carousel-item">
                      <h1><span class="title-underline">Reader</span> of books.</h1>
                      <h1><span class="title-underline">Writer</span> of none.</h1>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="text-center">
                  <img src="{{ url_for('static', filename='img/memoji.png') }}" class="img-fluid rounded" alt="Andy Crowe"></img>
                  <p style="padding:20px">Andy Crowe</p>
                </div>
              </div>
        </div>
        <div class="middle-container contrainer-fluid">
          <div class="row">
            <div class="col-12">
              <!-- web -->
              <div class="middle-content-container d-none d-sm-block">
                <div class="row">
                  <div class="col-2 center">
                    <a href="https://twitter.com/therealcrowemi" target="_new"><i class="fab fa-twitter fa-3x fa-twitter-custom"></i></a>
                  </div>
                  <div class="col-10">
                    <a class="tweet-link" href="https://twitter.com/therealcrowemi/status/{{latest_tweet.id}}" target="_new">
                      
                      <div class="row">
                      {% if latest_tweet.media_url %}
                        <div class="col-4">
                          <img src="{{latest_tweet.media_url}}" class="img-fluid rounded" />
                        </div>
                        <div class="col-8">
                          <div class="col-12">{{latest_tweet.text}}</div>
                          <hr />
                          <div class="col-12"><small>@TheRealCrowemi - {{latest_tweet.posted_at}}</small></div>
                        </div>
                      {% else %}
                      <div class="col-12">
                        <div class="col-12">{{latest_tweet.text}}</div>
                        <hr />
                        <div class="col-12"><small>@TheRealCrowemi - {{latest_tweet.posted_at}}</small></div>
                      </div>
                      {% endif %}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- mobile -->
              <div class="row middle-content-container d-sm-none">
                <div class="col-12">
                  <a class="tweet-link" href="https://twitter.com/therealcrowemi/status/{{latest_tweet.id}}" target="_new">
                    
                    <div class="row">
                      <div class="col-12 center">
                        <a href="https://twitter.com/therealcrowemi" target="_new"><i class="fab fa-twitter fa-3x fa-twitter-custom"></i></a>
                      </div>
                      {% if latest_tweet.media_url %}
                      <div class="col-12">
                        <div class="col-12" style="padding:20px 0px 10px 0px">{{latest_tweet.text}}</div>
                        <div class="col-12" style="padding:10px 0px 20px 0px">
                          <img src="{{latest_tweet.media_url}}" class="img-fluid rounded" />
                        </div>
                        <hr />
                        <div class="col-12 center"><small>@TheRealCrowemi - {{latest_tweet.posted_at}}</small></div>
                      </div>
                    {% else %}
                    <div class="col-12">
                      <div class="col-12" style="padding:20px 0px 10px 0px">{{latest_tweet.text}}</div>
                      <hr />
                      <div class="col-12"><small>@TheRealCrowemi - {{latest_tweet.posted_at}}</small></div>
                    </div>
                    {% endif %}
                    </div>
                  </a>
                </div>
              </div>
            </div>
        </div>
        </div>

        {% include "/metamask/metamask.html" %}        
        <!-- footer  -->
        {% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="{{ url_for('static', filename='js/metamask.js') }}"></script>

  </body>
</html>