<!doctype html>
<html lang="en">

{% include "header.html" %}

<body>

    {% include "blog_nav.html" %}

    <div class="row">
    <div class="col-2">
        <div class="center" style="padding:20px">
            <a href="{{ referrer }}"><i class="fa-solid fa-arrow-left" style="padding-right:5px"></i> back</a>
            <hr class="my-4">
            
        </div>
    </div>
    <div class="blog-page col-10">
        {{ page_content | safe }}
        <hr class="my-4">
        {% if last_modified %}
        <i class="fa-solid fa-calendar-days"></i> {{ last_modified.strftime('%A, %B %-d, %Y at
        %-H:%M %p') }}
        {% endif %}
    </div>
    </div>

    {% include "footer.html" %}


</body>

</html>