<!doctype html>
<html lang="en">

{% include "header.html" %}

<body>
    <div class="container-fluid">
        <div class="blog-web-container">
            <div class="row">
                <div class="col-2 blog-left-container">
                    <div class="blog-top-left-panel text-center" style="padding: 25px 0 0 0">
                        <a href="{{ url_for('crowemi.index') }}">
                            <img src="{{ url_for('static', filename='img/memoji.png') }}" class="img-fluid rounded"
                                alt="Andy Crowe"></img>
                            <p style="padding:20px">Andy Crowe</p>
                        </a>
                    </div>
                    <div class="blog-bottom-left-panel">
                        <nav class="nav flex-column">
                            <a href="{{ url_for('blog.index') }}" class="nav-link">
                                home
                            </a>
                            <a href="{{ url_for('blog.investing') }}" class="nav-link">
                                investing
                            </a>
                            <a class="nav-link disabled">
                                personal finance
                                <span class="badge rounded-pill text-bg-dark">coming soon</span>
                            </a>
                            <a class="nav-link disabled">
                                programming
                                <span class="badge rounded-pill text-bg-dark">coming soon</span>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="col-8 blog-middle-container">
                    <div class="blog-top-page-content">
                        {{ page_content | safe }}
                    </div>
                </div>
                <div class="col-2 blog-right-container">
                    <!-- <p class="lead">Latest</p>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="blog-mobile-container">
        </div>

    </div>
</body>

</html>