<div class="bottom-container container-fluid center">
  <div class="row center">
    <div class="col-4 icon-container center">
      <div class="icon">
        <a href="https://www.linkedin.com/in/crowemi/" target="_new"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="icon">
        <a href="https://github.com/crowemi" target="_new"><i class="fab fa-github fa-2x"></i></a>
      </div>
      <div class="icon">
        <a href="https://instagram.com/crowemi" target="_new"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
      <div class="icon">
        <a href="https://twitter.com/therealcrowemi" target="_new"><i class="fab fa-twitter fa-2x"></i></a>
      </div>
      <div class="icon">
        <a href="https://www.strava.com/athletes/crowemi" target="_new"><i class="fab fa-strava fa-2x"></i></a>
      </div>
    </div>
    <div class="col-12 center">
      <span class="text-muted small">© Copyright 2022 <span class="title-underline">crowemi</span>. All Rights
        Reserved.</span>
    </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="{{ url_for('static', filename='js/metamask.js') }}"></script>