<div class="bottom-container container-fluid center">
  <div class="row center">
    <div class="col-4 icon-container center">
      <div class="icon">
        <a href="https://www.linkedin.com/in/crowemi/" target="_new"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="icon">
        <a href="https://github.com/crowemi" target="_new"><i class="fab fa-github fa-2x"></i></a>
      </div>
      <div class="icon">
        <a href="https://instagram.com/crowemi" target="_new"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
      <div class="icon">
        <a href="https://twitter.com/therealcrowemi" target="_new"><i class="fab fa-twitter fa-2x"></i></a>
      </div>
      <div class="icon">
        <a href="https://www.strava.com/athletes/crowemi" target="_new"><i class="fab fa-strava fa-2x"></i></a>
      </div>
    </div> 
    <div class="col-12 center">        
      <span class="text-muted small">© Copyright 2022 <span class="title-underline">crowemi</span>. All Rights Reserved.</span>
    </div>  
  </div>
</div>
</div>