<div class="icon">
    <a href="https://www.linkedin.com/in/crowemi/" target="_new"><i class="fab fa-linkedin fa-2x"></i></a>
</div>
<div class="icon">
    <a href="https://github.com/crowemi" target="_new"><i class="fab fa-github fa-2x"></i></a>
</div>
<div class="icon">
    <a href="https://instagram.com/crowemi" target="_new"><i class="fab fa-instagram fa-2x"></i></a>
</div>
<div class="icon">
    <a href="https://twitter.com/therealcrowemi" target="_new"><i class="fab fa-twitter fa-2x"></i></a>
</div>
<div class="icon">
    <a href="https://youtube.com/@TheRealCrowemi" target="_new"><i class="fab fa-youtube fa-2x"></i></a>
</div>