/* Color Theme Swatches in Hex */
$first: #2E3940;
$second: #295922;
$third: #468C32;
$fourth: #397329;
$fifth: #2D401A; 
$white: white;



.left-content{
    background-color: $first;
    color: $white;
    height: 100vh;
    position: fixed;
    padding: 20px;

    .left-content-footer {
        position: fixed;
        background-color: red;
        margin: 0px auto;
        bottom: 0;
    }
    .left-content-footer>ul{
        list-style: none;
    }
}

.right-content-menu {
    position: sticky;
    padding: 0 30px 30px 30px;
    background-color: $first;
}