/* Color Theme Swatches in Hex */
$first: #2E3940;
$second: #295922;
$third: #468C32;
$fourth: #397329;
$fifth: #2D401A; 
$white: white;

.left-content{
    height: 700px;
    background-color: $first;
    color: $white;
}